[Feature Request] Support LF line breaks as well as CRLF line breaks

Currently, when a client sends LF instead of CRLF as a newline character, Bruno errors out with the following message:

```
Error invoking remote method 'send-http-request': Error: Parse Error: Missing expected CR after header value
```

Insomnia does support LF newlines, and I think Bruno should as well; [RFC7230 Section 3.5](https://www.rfc-editor.org/rfc/rfc7230#section-3.5) also allows for this:

> Although the line terminator for the start-line and header fields is the sequence CRLF, a recipient MAY recognize a single LF as a terminator and ignore any preceding CR.