OAuth 2.0 Client Credentials Basic Auth

### I have checked the following:

- [X] I've searched existing issues and found nothing related to my issue.

### Describe the feature you want to add

There are multiple ways of authenticating OAuth 2.0 Clients at the `/oauth2/token`:

[RFC 6749 section 2.3.1](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1)

* HTTP Basic Authorization (`client_secret_basic`) - the OAuth 2.0 Client ID and secret are sent in the HTTP Header (Authorization: basic ....)
* HTTP Body (`client_secret_post`) - the OAuth 2.0 Client ID and secret are sent in the POST body (Content-Type: application/x-www-form-urlencoded)

Currently, bruno only supports the `client_secret_post` method for client authentication. This feature request proposes adding support for `client_secret_basic` as configuration option.

### Mockups or Images of the feature

![image](https://github.com/usebruno/bruno/assets/16361556/ec9602fe-1e1d-4b68-94de-6590e9298dc2)

Indeed this is a must-have feature to fully migrate the Oauth 2.0-supported API testing to Bruno 

Please release this feature as soon as possible. I am currently stuck with my IAM which only supports client credentials as basic auth and denies exchanging authz code into a token.

This is available now

<img width="1048" alt="Image" src="https://github.com/user-attachments/assets/b1d4c3da-8887-4ea0-882e-a0b1c9e9f809" />