[Bug] `Content-Length` and `Transfer-Encoding` headers break response

When response has both `Content-Length` and `Transfer-Encoding: chunked` headers, Bruno fails to show response.

### Steps to reproduce
1. Call endpoint that returns both `Content-Length` and `Transfer-Encoding: chunked` headers.

### Expected behavior
* Show response body
* Warn user about conflicting headers received

### Actual behavior
* No response body, error is shown:
> Error invoking remote method 'send-http-request': Error: Parse Error: Content-Length can't be present with Transfer-Encoding
![image](https://github.com/usebruno/bruno/assets/20819782/cee8fe2c-0ba7-4bb7-a63e-6b6fc83d6249)


### Justificaiton
Standard requires us to ignore Content-Length in case of non-identity Transfer-Encoding, like "chunked", "compress", "deflate", or "gzip":
> "Messages MUST NOT include both a Content-Length header field and a non-identity transfer-coding. If the message does include a non-identity transfer-coding, the Content-Length MUST be ignored." ([RFC 2616, Section 4.4, point 3](http://greenbytes.de/tech/webdav/rfc2616.html#rfc.section.4.4))

(c) https://stackoverflow.com/a/3304186

UPD: [new RFC removed the part about ignoring](https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2), though it would be great to warn user in this case, it might simplify troubleshooting.

This is the exact issue i am having with confluent rest api. I am unable to turn off Content-Length and therefore just get the error mentioned.
I was able to confirm this issue by using postman and turning off Content-Length in its hidden headers and my data was sent fine.
Is there any plans for this bug, possibly the option to view hidden headers and disable, as i am very impressed with bruno.

@sergey124 @chrisfield490 @citDennis Apologies for the delayed response. This issue is not reproducible in the latest version of the app. Can anyone confirm this before we close the issue?

Image for reference 
https://github.com/user-attachments/assets/d2d478a3-b8ce-4002-8d5c-479317e4ab4f


Reopening this issue.
@anusree-bruno Can you confirm we handle the case where the endpoint returns both Content-Length and Transfer-Encoding: chunked headers.

Please document here how we handle it and then this issue can be closed.